body {
    background: rgb(143, 169, 252);
    font: normal 15pt Arial;
}

header {
    color: black;
    text-align: center;
    font: normal 100pt Arial;
}


footer {
    color: white;
    text-align: center;
    font: normal 10pt italic;

}